<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- Material Design Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <!-- <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">Bedimcode</span> -->
                </a>

                <div class="nav__list">
                    <a href="/" class="nav__link ">
                        <!-- <span class="material-icons material-icons-round">dashboard</span> -->
                        <!-- <i class='bx bx-grid-alt nav__icon'></i> -->
                        <span class="material-icons">search</span>
                        <span class="nav__name">Diagnosa</span>
                    </a>


                    <a href="/daftar-gejala" class="nav__link">
                        <!-- <i class='bx bx-message-square-detail nav__icon'></i> -->
                        <span class="material-icons material-icons-round">view_list</span>
                        <span class="nav__name">Daftar Gejala</span>
                    </a>

                    <a href="/daftar-masalah" class="nav__link">
                        <!-- <i class='bx bx-message-square-detail nav__icon'></i> -->
                        <span class="material-icons material-icons-round">view_list</span>
                        <span class="nav__name">Daftar Masalah</span>
                    </a>

                    <a href="/daftar-diagnosa" class="nav__link">
                        <!-- <i class='bx bx-folder nav__icon'></i> -->
                        <span class="material-icons material-icons-round">folder_open</span>
                        <span class="nav__name">Data Diagnosa</span>
                    </a>

                    <a href="/info" class="nav__link">
                        <!-- <i class='bx bx-folder nav__icon'></i> -->
                        <span class="material-icons material-icons-round">info</span>
                        <span class="nav__name">Info</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <%- include('./sidebar.ejs') %>
    <div class="wrapper">
        <main><%- body %></main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </div>

    <!--===== MAIN JS =====-->
    <script src="/js/main.js"></script>
</body>

</html>