<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<form action="/" method="post">
    <input type="text" name="name">
    <input type="text" name="problem">
    <input type="text" name="value">
    <input type="text" name="solution">

    <input type="submit" value="submit" />

</form>