<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<form action="/" method="post">
    <!-- <div class="form-group">
        <label for="nama">Nama Siswa</label>
        <input type="text" class="form-control" id="nama">
    </div> -->
    <div class="table-responsive-sm table-hover">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="header-center">Gejala</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div class="item-data">
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Memiliki pergaulan yang bebas, tanpa ada bimbingan dan pemantauan dari orang tua
                                </label>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="item-data">
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">
                                    Sering mengikuti dan melakukan yang teman-teman perbuat
                                </label>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="item-data">
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">
                                    Merasa dijauhi oleh teman- teman, sehingga tidak mau sekolah
                                </label>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="item-data">
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">
                                    Selalu dicurigai dan dimusuhi oleh teman-teman anda
                                </label>
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <div class="item-data">
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">
                                    Terlambat sekolah karena mendapat tugas dari orang tua
                                </label>
                            </div>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary diagnosis-btn"><%= button_value %></button>
</form>