<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<% include('./partials/crud.js') %>

<script>
    if (typeof obj.result !== 'undefined') {
        // group kemungkinan terdapat penyakit
        let groupKemungkinanPenyakit = getGroupPengetahuan(hasil.join(","));

        for (let h = 0; h < result.length; h++) {
            kemungkinanMasalah = getKemungkinanMasalah(sql[h]);
            for (let x = 0; x < kemungkinanMasalah.length[h]; x++) {
                for (let i = 0; i < groupKemungkinanMasalah.length; i++) {
                    let namaMasalah = groupKemungkinanMasalah[i]['nama_masalah'];
                    if (kemungkinanMasalah[h][x]['nama_masalah'] == namaMasalah) {
                        // list kemungkinan dari gejala
                        let listIdKemungkinan = [[namaMasalah], []]
                        listIdKemungkinan = kemungkinanMasalah[[h, x, 'id_pengetahuan']];
                    }
                }
            }
        }

        let id_masalah_terbesar = '';
        let nama_masalah_terbesar = '';

        // list masalah kemungkinan
        for (let h = 0; h < groupKemungkinanMasalah.length; h++) {
            namaMasalah = groupKemungkinanMasalah[h]['nama_Masalah'];
            document.write("<br/>Proses Masalah " + h + "." + namaMasalah + "<br/>==============<br/>");

            // list Masalah kemungkinan dari gejala
            for (let x = 0; x < listIdKemungkinan[namaMasalah].length; x++) {
                let daftarKemungkinanMasalah = getListMasalah(listIdKemungkinan[namaMasalah][x]);

                document.write("<br/>proses " + x + "<br/>------------------------------------<br/>");

                for (let i = 0; i < daftarKemungkinanPenyakit.length; i++) {

                    if (listIdKemungkinan == 1) {
                        document.write('<br>Jumlah Gejala = ' + listIdKemungkinan[namaMasalah] + '<br/>');
                        // bila list kemungkinan terdapat 1
                        let mb = daftarKemungkinanMasalah[i]['mb'];
                        let md = daftarKemungkinanMasalah[i]['md'];
                        let cf = mb - md;
                        let daftar_cf = [[namaMasalah], []];
                        daftar_cf = cf;

                        document.write("<br/>proses 1<br/>------------------------<br/>")
                        document.write("mb = " + mb + "<br/>");
                        document.write("md = " + md + "<br/>");
                        document.write("cf = mb - md = " + mb + " - " + md + " = " + cf + "<br/><br/><br/>");

                        // end bila list kemungkinan terdapat 1
                    } else {
                        // list kemungkinanan lebih dari satu
                        if (x == 0) {
                            document.write(`Jumlah Gejala =  ${listIdKemungkinan[namaMasalah]} <br/>`);
                            // record md dan mb sebelumnya
                            mblama = daftarKemungkinanMasalah[i]['mb'];
                            mdlama = daftarKemungkinanMasalah[i]['md'];

                            mb = daftarKemungkinanMasalah[i]['mb'];
                            md = daftarKemungkinanMasalah[i]['md'];

                            document.write("<br/>");
                            document.write("mbbaru = " + mb + "<br/>");
                            document.write("mdbaru = " + md + "<br/>");
                            let cf = mb - md;
                            document.write("cf = mb - md = " + mb + " - " + md + " = " + cf + "<br/><br/><br/>");

                            daftar_cf[[namaMasalah], []] = cf;
                        } else {
                            let mbbaru = daftarKemungkinanMasalah[i]['mb'];
                            let mdbaru = daftarKemungkinanMasalah[i]['md'];
                            document.write("mbbaru = " + mbbaru + "<br/>");
                            document.write("mdbaru = " + mdbaru + "<br/>");
                            mbsementara = mblama + (mbbaru * (1 - mblama));
                            mdsementara = mdlama + (mdbaru * (1 - mdlama));
                            document.write(`mbsementara = mblama + (mbbaru * (1 - mblama)) = mblama + (mbbaru * (1 - mblama)) = " ${mbsementara}"<br/>`);
                            document.write(`mdsementara = mdlama + (mdbaru * (1 - mdlama)) = mdlama + (mdbaru * (1 - mdlama)) = " ${mdsementara}"<br/>`);

                            mb = mbsementara;
                            md = mdsementara;
                            cf = mb - md;
                            document.write("cf = mblama - mdlama = " + mb + " - " + md + " = " + cf + "<br/><br/><br/>");
                            daftar_cf[[namaMasalah], []] = cf;
                        }
                        // end list kemungkinanan lebih dari satu

                        document.write("<br/>======================================<br/>");
                        document.write(daftar_cf, groupKemungkinanMasalah);
                        document.write(daftar_cf, groupKemungkinanMasalah);
                    }
                }
            }
        }
    }
</script>