<br>
<h3>
    <center><%= heading %></center>
</h3>
<br>

<% - include('./partial/crud.js') %>
<script>

    let groupKemungkinanMasalah = getGroupPengetahuan.join();

    // menampilkan kode gejala yang di pilih
    // let sql =

    if (sql) {
        for (let h = 0; h < sql.length; h++) {
            kemungkinanMasalah = getKemungkinanMasalah(sql[h]);
            for (let x = 0; x < count(kemungkinanMasalah[h]); x++) {
                for (let i = 0; i < count(groupKemungkinanMasalah); i++) {
                    let namaMasalah = groupKemungkinanMasalah[i]['nama_masalah'];
                    if (kemungkinanMasalah[h][x]['nama_masalah'] == namaMasalah) {
                        // list di kemungkinan dari gejala
                        let listIdKemungkinan = kemungkinanMasalah[h][x]['id_pengetahuan'];
                    }
                }
            }
        }

        let id_Masalah_terbesar = '';
        let nama_Masalah_terbesar = '';



        if (listIdKemungkinan == 1) {
            document.write(`Jumlah Gejala =  ${listIdKemungkinan[namaMasalah]}<br/>`);

            // bila list kemungkinan terdapat 1
            let mb = daftarKemungkinanMasalah[i]['mb'];
            let md = daftarKemungkinanMasalah[i]['md'];
            let cf = mb - md;
            let daftar_cf[namaMasalah][] = cf;

            // echo "<br/>proses 1<br/>------------------------<br/>";
            // echo "mb = ".$mb."<br/>";
            // echo "md = ".$md."<br/>";
            // echo "cf = mb - md = ".$mb." - ".$md." = ".$cf."<br/><br/><br/>";

            // end bila list kemungkinan terdapat 1
        } else {
            // list kemungkinanan lebih dari satu
            if (let x == 0) {
                document.write(`Jumlah Gejala =  ${listIdKemungkinan[namaMasalah]}<br/>`);
                // record md dan mb sebelumnya
                mblama = daftarKemungkinanMasalah[i]['mb'];
                mdlama = daftarKemungkinanMasalah[i]['md'];

                mb = daftarKemungkinanMasalah[$i]['mb'];
                md = daftarKemungkinanMasalah[$i]['md'];

                // echo "<br/>";
                // echo "mbbaru = ".$mb."<br/>";
                // echo "mdbaru = ".$md."<br/>";
                let cf = mb - md;
                // echo "cf = mb - md = ".$mb." - ".$md." = ".$cf."<br/><br/><br/>";

                let daftar_cf[namaMasalah][] = cf;
            }
            else {
                let mbbaru = daftarKemungkinanMasalah[i]['mb'];
                let mdbaru = daftarKemungkinanMasalah[i]['md'];
                // echo "mbbaru = ".$mbbaru."<br/>";
                // echo "mdbaru = ".$mdbaru."<br/>";
                mbsementara = mblama + (mbbaru * (1 - mblama));
                mdsementara = mdlama + (mdbaru * (1 - mdlama));
                // echo "mbsementara = mblama + (mbbaru * (1 - mblama)) = $mblama + ($mbbaru * (1 - $mblama)) = ".$mbsementara."<br/>";
                // echo "mdsementara = mdlama + (mdbaru * (1 - mdlama)) = $mdlama + ($mdbaru * (1 - $mdlama)) = ".$mdsementara."<br/>";

                mb = mbsementara;
                md = mdsementara;
                cf = mb - md;
                // echo "cf = mblama - mdlama = ".$mb." - ".$md." = ".$cf."<br/><br/><br/>";
                daftar_cf[namaMasalah][] = cf;;
            }
            // end list kemungkinanan lebih dari satu

            // echo "<br/>======================================<br/>";
            hasilCFTertinggi(daftar_cf, groupKemungkinanMasalah);
            hasilAkhir(daftar_cf, groupKemungkinanMasalah);

        }
</script>